/* 
    Created on : Oct 30, 2016, 8:59:20 PM
    Author     : Spencer
*/
#headers{
    font-family: 'Monda', sans-serif;
    padding-left: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 7px;
}

h1:after{
    content:' ';
    display:block;
    border:1px solid green;
    border-radius: 4px;
}

h2{
    font-size: 18px;
    margin-top: -10px;
}

#background{
    background-image: url("https://i.imgur.com/1qYKKNs.jpg");
    background-size: cover, auto;
    margin-left: -8px;
    padding-top: 100px;
    padding-bottom: 100px;
}



p{
    display:inline-block;
    background-color: rgba(0,0,0,.5);
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
